{% extends 'base.html' %}
{% load static %}
{% block content %}

<div>
    <div id="navbar">
        <header>
            <img class="logo" id="a-home" src="{% static 'images/dms-no-bg.svg'%}" alt="DMS Logo">
            <nav>
                <ul class="nav__links">
                    <li><a id="a-about">About</a></li>
                    <li><a id="a-services">Services</a></li>
                    <li><a id="a-work">Work</a></li>
                </ul>
            </nav>
            <a href="#" class="cta"><button>Contact</button></a>
        </header>
    </div>
    <div id="hero">
        <div id="h-left">
            <h2>Transforming your vision to reality</h2>
            <div id="h-buttons">
                <button>Contact</button>
                <button>Services</button>
            </div>
        </div>
        <div id="h-right">
            <img src="{% static 'images/dms-no-bg.svg' %}" height="600" width="600" alt="DMS Logo">
        </div>
    </div>
    <div>
        <div id="about">
            <div class="about">
                <div class="card">
                    <div class="face top">
                        <div class="content">
                            <h2>Project Management</h2>
                            <img src="https://illlustrations.co/static/day54-building-531c92890bfef0052915bb626aa710d5.png" alt="Project Management Image">
                            <p>Dark Matter Software provides project management for the lifecycle of your project. You have a dream, and we'll see it through from development to deployment.</p>
                        </div>
                    </div>
                    <div class="face bottom">
                        <p>Our teams have skilled Project Managers to oversee the entire project life cycle, so you don’t have to. We work together to hit deadlines and meet goals until your vision is complete.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="face top">
                        <div class="content">
                            <h2>Development</h2>
                            <img src="https://illlustrations.co/static/day9-toolbox-2b7fd0e51756b425331c8055c1f17137.png" alt="Development Image">
                            <p>We use modern and scalable technologies to build the best product to suit your current and future business needs.</p>
                        </div>
                    </div>
                    <div class="face bottom">
                        <p>We use battle-tested technologies to create software that solves your problems, meets your needs, and lasts for long-term use.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="face top">
                        <div class="content">
                            <h2>Deployment</h2>
                            <img src="https://illlustrations.co/static/day14-forklift-b062f61fdd6879b91189fcf01e043b63.png" alt="Deployment Image">
                            <p>Dark Matter doesn't just build software, we support you in ensuring it works long-term.</p>
                        </div>
                    </div>
                    <div class="face bottom">
                        <p>When it comes to deploying your new software, we stand by our projects with support through transitions and use. With effective project management, we streamline workflows and coordinate with your goals from start to finish.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="services">
        <div class="services">
            <h3>End-to-End Expertise</h3>
            <p>Our teams write code that turns your ideas into tangible results.</p>
        </div>
        <div class="services">
            <h3>Security Always</h3>
            <p>Our products are stable and secure for your peace of mind.</p>
        </div>
        <div class="services">
            <h3>Products that work</h3>
            <p>Results that integrate with business systems, improve efficiency, and scale for future needs.</p>
        </div>
        <div class="services">
            <h3>User Experience</h3>
            <p>Our software delivers exceptional user experiences that help your business grow.</p>
        </div>
        <div class="services">
            <h3>Seamless Integration</h3>
            <p>Providing solutions that integrate with the workflows and technologies you need.</p>
        </div>
        <div class="services">
            <h3>Your Digital Investment</h3>
            <p>When you choose Dark Matter Software, your investment goes farther and lasts longer.</p>
        </div>
    </div>
    <div id="work">

    </div>
    <div id="pdx">
        <div class="pdx-left">
            <img src="https://pdxcodeguild.com/static/img/pdxcglogo.svg" alt="PDX Code Guild Logo">
        </div>
        <div class="pdx-right">
            <h3>We Partner with <a href="https://pdxcodeguild.com">PDX Code Guild</a></h3>
            <p>We believe in providing opportunity to those new to the technology industry. Our apprenticeship program partners with PDX Code Guild, an established training program for developers. Apprentices work under expert project managers, providing value and satisfaction to clients, while clients receive products managed by experts in the field and built by developers with a fresh perspective and modern approach.
                When your project is complete, the apprentices most familiar with your project can continue working with your company to provide support for the software they built.</p>
        </div>
        <div class="test"></div>
    </div>
    <div id="contact">

    </div>
</div>

{% endblock %}