{% load static %}

<div class="modal">
    <div id="contact">
        <section>
            <form action="#" method="POST">
                <div class="fields">
                    <div class="field half">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name"/>
                    </div>
                    <div class="field half">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email"/>
                    </div>
                    <div class="field">
                        <label for="message">Message</label>
                        <textarea name="message" id="message"></textarea>
                    </div>
                </div>
                <div class="actions">
                    <a href="#" class="btn">Send Message</a>
                </div>
            </form>
        </section>
        <section>
            <ul class="contact">
                <li>
                    <h3>Address</h3>
                    <span>
                        2828 SW Corbett Ave #208</br>
                        Portland, OR 97201</br>
                    </span>
                </li>
                <li>
                    <h3>Email</h3>
                    <a href="#">sales@darkmattersoftware.io</a>
                </li>
                <li>
                    <h3>Phone</h3>
                    <span>(503) 227-9710</span>
                </li>
            </ul>
        </section>
    </div>
</div>