{% load static %}

<div id="navbar">
    <header>
        <img class="logo" id="a-home" src="{% static 'images/dms-no-bg.svg'%}" alt="DMS Logo">
        <nav>
            <ul class="nav__links">
                <li><a href="#about" id="a-about">About</a></li>
                <li><a href="#services" id="a-services">Services</a></li>
                <li><a href="#work" id="a-work">Work</a></li>
            </ul>
        </nav>
        <a href="#" class="cta"><button>Contact</button></a>
    </header>
</div>