{% load static %}

<div id="pdx">
    <div class="pdx-left">
        <img src="https://pdxcodeguild.com/static/img/pdxcglogo.svg" alt="PDX Code Guild Logo">
    </div>
    <div class="pdx-right">
        <h3>We Partner with <a href="https://pdxcodeguild.com">PDX Code Guild</a></h3>
        <p>We believe in providing opportunity to those new to the technology industry. Our apprenticeship program partners with PDX Code Guild, an established training program for developers. Apprentices work under expert project managers, providing value and satisfaction to clients, while clients receive products managed by experts in the field and built by developers with a fresh perspective and modern approach.
            When your project is complete, the apprentices most familiar with your project can continue working with your company to provide support for the software they built.</p>
    </div>
    <div class="test"></div>
</div>