*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background: radial-gradient(circle at 24% 23%, rgba(167, 167, 167,0.06) 0%, rgba(167, 167, 167,0.06) 25%,rgba(148, 148, 148,0.06) 25%, rgba(148, 148, 148,0.06) 50%,rgba(129, 129, 129,0.06) 50%, rgba(129, 129, 129,0.06) 75%,rgba(110, 110, 110,0.06) 75%, rgba(110, 110, 110,0.06) 100%),radial-gradient(circle at 58% 30%, rgba(14, 14, 14,0.06) 0%, rgba(14, 14, 14,0.06) 25%,rgba(60, 60, 60,0.06) 25%, rgba(60, 60, 60,0.06) 50%,rgba(107, 107, 107,0.06) 50%, rgba(107, 107, 107,0.06) 75%,rgba(153, 153, 153,0.06) 75%, rgba(153, 153, 153,0.06) 100%),radial-gradient(circle at 79% 53%, rgba(225, 225, 225,0.06) 0%, rgba(225, 225, 225,0.06) 25%,rgba(189, 189, 189,0.06) 25%, rgba(189, 189, 189,0.06) 50%,rgba(152, 152, 152,0.06) 50%, rgba(152, 152, 152,0.06) 75%,rgba(116, 116, 116,0.06) 75%, rgba(116, 116, 116,0.06) 100%),linear-gradient(221deg, rgb(0,0,0),rgb(0,0,0));
}

li, a, button {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 10%;
    background-color: #24252A;
}
#navbar {
    height: 100px;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    height: 100px;
}

.nav__links {
    list-style: none;

    li {
        display: inline-block;
        padding: 0px 20px;

        a{
            cursor: pointer;
            transition: all 0.3s ease 0s;
        }
        a:hover{
            color: #0088a9;
        }
    }
}

button {
    padding: 9px 25px;
    margin-left: 20px;
    background: rgba(0, 154, 221, 1);
    border: 1px solid rgba(0, 154, 221, 1);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 154, 221, 0);
    padding: 9px 24px;
}

#hero {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    #h-left{
        padding-top: 8rem;

        h2{
            color: white;
        }

        #h-buttons{
            margin: 2rem;
        }
    }
}

#about {
    height: calc(100vh - 100px);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 15%, rgba(255,255,255,0.85) 30%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 55%, rgba(255,255,255,0.85) 70%, rgba(255,255,255,0.5) 85%, rgba(255,255,255,0) 100%);    padding: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    align-items: center;

    .about{
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        p{
            margin: 2rem;
        }
        button{
            margin: 0;
        }
    }
}


#services{
    height: calc(100vh - 100px);
    padding: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .services{
        background-color: #fff;
        box-shadow: 4px 4px 19px 5px rgba(94,94,94,0.37);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 8px;
        padding: 1rem;
        margin: .5rem;

        h3{
            font-size: 32px;
        }
        p{
            font-size: 24px;
        }
    }
}

#pdx {
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 15%, rgba(255,255,255,0.85) 30%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 55%, rgba(255,255,255,0.85) 70%, rgba(255,255,255,0.5) 85%, rgba(255,255,255,0) 100%);
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .pdx-left {
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 60%;
            margin: 0 auto;
            padding: 2rem;
        }
    }

    .pdx-right {
        position: relative;
        background: linear-gradient(to right, rgba(255,212,148,1) 0%, rgba(255,153,0,1) 100%);
        border: 4px solid white;
        padding: 2em 1em;
        margin: 1em 4em;
        border-radius: 24px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a{
            font-size: 32px;
            text-decoration: none;
            color: black;
        }
        

        h3 {
            font-size: 32px;
            color: black;
        }

        p {
            padding: 2rem;
            font-size: 24px;
            text-align: center;
        }
    }
}